# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
config.json
myenv/etc/jupyter/jupyter_server_config.d/jupyter_server_terminals.json
myenv/etc/jupyter/jupyter_server_config.d/nbclassic.json
myenv/etc/jupyter/jupyter_server_config.d/notebook_shim.json
myenv/etc/jupyter/nbconfig/notebook.d/widgetsnbextension.json
myenv/Include/site/python3.10/greenlet/greenlet.h
myenv/pyvenv.cfg
myenv/Scripts/activate
myenv/Scripts/activate.bat
myenv/Scripts/Activate.ps1
myenv/Scripts/convert-caffe2-to-onnx.exe
myenv/Scripts/convert-onnx-to-caffe2.exe
myenv/Scripts/cv
myenv/Scripts/deactivate.bat
myenv/Scripts/f2py.exe
myenv/Scripts/fonttools.exe
myenv/Scripts/huggingface-cli.exe
myenv/Scripts/ipython.exe
myenv/Scripts/isympy.exe
myenv/Scripts/ipython3.exe
myenv/Scripts/jsonpointer
myenv/Scripts/jsonschema.exe
myenv/Scripts/jupyter-bundlerextension.exe
myenv/Scripts/jupyter-console.exe
myenv/Scripts/jupyter-dejavu.exe
myenv/Scripts/jupyter-events.exe
myenv/Scripts/jupyter-execute.exe
myenv/Scripts/jupyter-kernel.exe
myenv/Scripts/jupyter-kernelspec.exe
myenv/Scripts/jupyter-migrate.exe
myenv/Scripts/jupyter-nbclassic-bundlerextension.exe
myenv/Scripts/jupyter-nbclassic-extension.exe
myenv/Scripts/jupyter-nbclassic-serverextension.exe
myenv/Scripts/jupyter-nbclassic.exe
myenv/Scripts/jupyter-nbconvert.exe
myenv/Scripts/jupyter-nbextension.exe
myenv/Scripts/jupyter-notebook.exe
myenv/Scripts/jupyter-qtconsole.exe
myenv/Scripts/jupyter-run.exe
myenv/Scripts/jupyter-server.exe
myenv/Scripts/jupyter-serverextension.exe
myenv/Scripts/jupyter-troubleshoot.exe
myenv/Scripts/jupyter-trust.exe
myenv/Scripts/jupyter.exe
myenv/Scripts/langchain-server.exe
myenv/Scripts/langchain.exe
myenv/Scripts/nltk.exe
myenv/Scripts/normalizer.exe
myenv/Scripts/openai.exe
myenv/Scripts/pathy.exe
myenv/Scripts/pip.exe
myenv/Scripts/pip3.10.exe
myenv/Scripts/pip3.exe
myenv/Scripts/publish.py
myenv/Scripts/pyftmerge.exe
myenv/Scripts/pyftsubset.exe
myenv/Scripts/pygmentize.exe
myenv/Scripts/python.exe
myenv/Scripts/pythonw.exe
myenv/Scripts/pywin32_postinstall.py
myenv/Scripts/pywin32_testall.py
myenv/Scripts/qtpy.exe
myenv/Scripts/send2trash.exe
myenv/Scripts/spacy.exe
myenv/Scripts/torchrun.exe
myenv/Scripts/tqdm.exe
myenv/Scripts/transformers-cli.exe
myenv/Scripts/ttx.exe
myenv/Scripts/wsdump.exe
myenv/share/applications/jupyter-nbclassic.desktop
myenv/share/applications/jupyter-notebook.desktop
myenv/share/doc/networkx-3.1/examples/3d_drawing/mayavi2_spring.py
myenv/share/doc/networkx-3.1/examples/3d_drawing/plot_basic.py
myenv/share/doc/networkx-3.1/examples/3d_drawing/README.txt
myenv/share/doc/networkx-3.1/examples/algorithms/hartford_drug.edgelist
myenv/share/doc/networkx-3.1/examples/algorithms/plot_beam_search.py
myenv/share/doc/networkx-3.1/examples/algorithms/plot_betweenness_centrality.py
myenv/share/doc/networkx-3.1/examples/algorithms/plot_blockmodel.py
myenv/share/doc/networkx-3.1/examples/algorithms/plot_circuits.py
myenv/share/doc/networkx-3.1/examples/algorithms/plot_davis_club.py
myenv/share/doc/networkx-3.1/examples/algorithms/plot_dedensification.py
myenv/share/doc/networkx-3.1/examples/algorithms/plot_girvan_newman.py
myenv/share/doc/networkx-3.1/examples/algorithms/plot_iterated_dynamical_systems.py
myenv/share/doc/networkx-3.1/examples/algorithms/plot_krackhardt_centrality.py
myenv/share/doc/networkx-3.1/examples/algorithms/plot_maximum_independent_set.py
myenv/share/doc/networkx-3.1/examples/algorithms/plot_parallel_betweenness.py
myenv/share/doc/networkx-3.1/examples/algorithms/plot_rcm.py
myenv/share/doc/networkx-3.1/examples/algorithms/plot_snap.py
myenv/share/doc/networkx-3.1/examples/algorithms/plot_subgraphs.py
myenv/share/doc/networkx-3.1/examples/algorithms/README.txt
myenv/share/doc/networkx-3.1/examples/algorithms/WormNet.v3.benchmark.txt
myenv/share/doc/networkx-3.1/examples/basic/plot_properties.py
myenv/share/doc/networkx-3.1/examples/basic/plot_read_write.py
myenv/share/doc/networkx-3.1/examples/basic/plot_simple_graph.py
myenv/share/doc/networkx-3.1/examples/basic/README.txt
myenv/share/doc/networkx-3.1/examples/drawing/chess_masters_WCC.pgn.bz2
myenv/share/doc/networkx-3.1/examples/drawing/knuth_miles.txt.gz
myenv/share/doc/networkx-3.1/examples/drawing/plot_center_node.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_chess_masters.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_custom_node_icons.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_degree.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_directed.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_edge_colormap.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_ego_graph.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_eigenvalues.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_four_grids.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_house_with_colors.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_knuth_miles.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_labels_and_colors.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_multipartite_graph.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_node_colormap.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_rainbow_coloring.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_random_geometric_graph.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_sampson.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_selfloops.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_simple_path.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_spectral_grid.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_tsp.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_unix_email.py
myenv/share/doc/networkx-3.1/examples/drawing/plot_weighted_graph.py
myenv/share/doc/networkx-3.1/examples/drawing/README.txt
myenv/share/doc/networkx-3.1/examples/drawing/unix_email.mbox
myenv/share/doc/networkx-3.1/examples/graph/plot_dag_layout.py
myenv/share/doc/networkx-3.1/examples/graph/plot_degree_sequence.py
myenv/share/doc/networkx-3.1/examples/graph/plot_erdos_renyi.py
myenv/share/doc/networkx-3.1/examples/graph/plot_expected_degree_sequence.py
myenv/share/doc/networkx-3.1/examples/graph/plot_football.py
myenv/share/doc/networkx-3.1/examples/graph/plot_karate_club.py
myenv/share/doc/networkx-3.1/examples/graph/plot_morse_trie.py
myenv/share/doc/networkx-3.1/examples/graph/plot_mst.py
myenv/share/doc/networkx-3.1/examples/graph/plot_napoleon_russian_campaign.py
myenv/share/doc/networkx-3.1/examples/graph/plot_roget.py
myenv/share/doc/networkx-3.1/examples/graph/plot_triad_types.py
myenv/share/doc/networkx-3.1/examples/graph/plot_words.py
myenv/share/doc/networkx-3.1/examples/graph/README.txt
myenv/share/doc/networkx-3.1/examples/graph/roget_dat.txt.gz
myenv/share/doc/networkx-3.1/examples/graph/words_dat.txt.gz
myenv/share/doc/networkx-3.1/examples/README.txt
myenv/share/doc/networkx-3.1/examples/subclass/plot_antigraph.py
myenv/share/doc/networkx-3.1/examples/subclass/plot_printgraph.py
myenv/share/doc/networkx-3.1/examples/subclass/README.txt
myenv/share/doc/networkx-3.1/LICENSE.txt
myenv/share/icons/hicolor/scalable/apps/nbclassic.svg
myenv/share/icons/hicolor/scalable/apps/notebook.svg
myenv/share/jupyter/kernels/python3/kernel.json
myenv/share/jupyter/kernels/python3/logo-32x32.png
myenv/share/jupyter/kernels/python3/logo-64x64.png
myenv/share/jupyter/kernels/python3/logo-svg.svg
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/install.json
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/package.json
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/schemas/@jupyter-widgets/jupyterlab-manager/package.json.orig
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/schemas/@jupyter-widgets/jupyterlab-manager/plugin.json
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/113.6113d19fca7ff66ccc66.js
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/113.6113d19fca7ff66ccc66.js.LICENSE.txt
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/134.b4eddbb09f5fd50a4007.js
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/291.cff5ef71b29e18850479.js
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/291.cff5ef71b29e18850479.js.LICENSE.txt
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/336.9f709c2076672b1bfe2b.js
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/345.17494fea1ff555b26294.js
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/495.b58859516292ffe4bc96.js
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/595.942a65706d9bc281d5ca.js
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/596.1f32fb4ed861227b46e2.js
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/61.21f571face17e35076c2.js
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/644.52a1098a3a5f3e45abff.js
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/699.e966b1425a7d4e8c3f4e.js
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/965.22fa53da8ad2a8da593a.js
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/remoteEntry.98b8a827bfc5f86e95d2.js
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/style.js
myenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/third-party-licenses.json
myenv/share/jupyter/labextensions/jupyterlab_pygments/install.json
myenv/share/jupyter/labextensions/jupyterlab_pygments/package.json
myenv/share/jupyter/labextensions/jupyterlab_pygments/static/568.1e2faa2ba0bbe59c4780.js
myenv/share/jupyter/labextensions/jupyterlab_pygments/static/747.8eb3ddccc7ec4987bff9.js
myenv/share/jupyter/labextensions/jupyterlab_pygments/static/remoteEntry.aa1060b2d1221f8e5688.js
myenv/share/jupyter/labextensions/jupyterlab_pygments/static/style.js
myenv/share/jupyter/labextensions/jupyterlab_pygments/static/third-party-licenses.json
myenv/share/jupyter/nbconvert/templates/asciidoc/conf.json
myenv/share/jupyter/nbconvert/templates/asciidoc/index.asciidoc.j2
myenv/share/jupyter/nbconvert/templates/base/cell_id_anchor.j2
myenv/share/jupyter/nbconvert/templates/base/celltags.j2
myenv/share/jupyter/nbconvert/templates/base/display_priority.j2
myenv/share/jupyter/nbconvert/templates/base/jupyter_widgets.html.j2
myenv/share/jupyter/nbconvert/templates/base/mathjax.html.j2
myenv/share/jupyter/nbconvert/templates/base/null.j2
myenv/share/jupyter/nbconvert/templates/basic/conf.json
myenv/share/jupyter/nbconvert/templates/basic/index.html.j2
myenv/share/jupyter/nbconvert/templates/classic/base.html.j2
myenv/share/jupyter/nbconvert/templates/classic/conf.json
myenv/share/jupyter/nbconvert/templates/classic/index.html.j2
myenv/share/jupyter/nbconvert/templates/classic/static/style.css
myenv/share/jupyter/nbconvert/templates/compatibility/display_priority.tpl
myenv/share/jupyter/nbconvert/templates/compatibility/full.tpl
myenv/share/jupyter/nbconvert/templates/lab/base.html.j2
myenv/share/jupyter/nbconvert/templates/lab/conf.json
myenv/share/jupyter/nbconvert/templates/lab/index.html.j2
myenv/share/jupyter/nbconvert/templates/lab/mermaidjs.html.j2
myenv/share/jupyter/nbconvert/templates/lab/static/index.css
myenv/share/jupyter/nbconvert/templates/lab/static/theme-dark.css
myenv/share/jupyter/nbconvert/templates/lab/static/theme-light.css
myenv/share/jupyter/nbconvert/templates/latex/base.tex.j2
myenv/share/jupyter/nbconvert/templates/latex/conf.json
myenv/share/jupyter/nbconvert/templates/latex/display_priority.j2
myenv/share/jupyter/nbconvert/templates/latex/document_contents.tex.j2
myenv/share/jupyter/nbconvert/templates/latex/index.tex.j2
myenv/share/jupyter/nbconvert/templates/latex/null.j2
myenv/share/jupyter/nbconvert/templates/latex/report.tex.j2
myenv/share/jupyter/nbconvert/templates/latex/style_bw_ipython.tex.j2
myenv/share/jupyter/nbconvert/templates/latex/style_bw_python.tex.j2
myenv/share/jupyter/nbconvert/templates/latex/style_ipython.tex.j2
myenv/share/jupyter/nbconvert/templates/latex/style_jupyter.tex.j2
myenv/share/jupyter/nbconvert/templates/latex/style_python.tex.j2
myenv/share/jupyter/nbconvert/templates/markdown/conf.json
myenv/share/jupyter/nbconvert/templates/markdown/index.md.j2
myenv/share/jupyter/nbconvert/templates/python/conf.json
myenv/share/jupyter/nbconvert/templates/python/index.py.j2
myenv/share/jupyter/nbconvert/templates/reveal/base.html.j2
myenv/share/jupyter/nbconvert/templates/reveal/cellslidedata.j2
myenv/share/jupyter/nbconvert/templates/reveal/conf.json
myenv/share/jupyter/nbconvert/templates/reveal/index.html.j2
myenv/share/jupyter/nbconvert/templates/reveal/static/custom_reveal.css
myenv/share/jupyter/nbconvert/templates/rst/conf.json
myenv/share/jupyter/nbconvert/templates/rst/index.rst.j2
myenv/share/jupyter/nbconvert/templates/script/conf.json
myenv/share/jupyter/nbconvert/templates/script/script.j2
myenv/share/jupyter/nbconvert/templates/webpdf/conf.json
myenv/share/jupyter/nbconvert/templates/webpdf/index.pdf.j2
myenv/share/jupyter/nbextensions/jupyter-js-widgets/extension.js
myenv/share/jupyter/nbextensions/jupyter-js-widgets/extension.js.LICENSE.txt
myenv/share/jupyter/nbextensions/jupyter-js-widgets/extension.js.map
myenv/share/man/man1/ipython.1
myenv/share/man/man1/isympy.1
myenv/share/man/man1/ttx.1
